@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Roboto Condensed;
    font-weight: 500;
    color: #333333;
}

/* headings and logo */

h1, h2 {
    font-family:  Roboto Condensed;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.website {
    border-bottom: 1px solid #3a3a3a;
}


/* laptop image and cover text */
#laptop-outer { height: 600px;
    width: 100%;
    overflow: hidden;
    
}

#cover-text, #cover-text h2 {
    color: #252525;
}

#laptop-image {
    height: 600px;
    width: 100%;
    background: url('../images/laptop-image.webp') no-repeat center center;
    background-size: cover;
}

 

/* Our Services */

#our-services {
    height: 600px;
}

#left-about {
    padding-top: 20px;
    width: 30%;
    float: left;
}

#center-about {
    padding-top: 20px;
    width: 30%;
    margin: 0 auto;
    float: right;
}

#right-about {
    padding-top: 20px;
    width: 30%;
    float: right;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 24px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 24px;
    clear: both;
    margin-bottom: 50px;
}

.center-about-heading {
    width: 60%;
    line-height: 24px;
    margin-bottom: 50px;
}



#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

/* footer */

footer {
    height: 100px;
}

h4 {
    text-align: center;
    color: #252525;
}
   
/* aboutus-image */
#aboutus-image {
    height: 600px;
    width: 100%;
    background: url('../images/aboutus-image.jpeg') no-repeat center center;
    background-size: cover;

}

